main{
    display: flex;
    justify-content: center;
}
.Title{
    margin: 20px 10px ;
}
.Contaienr{
    width: min(1440px,100%);
}

.App_img{
    display: none;
}

@media only screen and (min-width: 1000px) {
    .App_responsive{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .App_Login{
        width: 100%;
    }
    .App_img{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}